{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<div class="mt-8">
  <h2 class="text-lg font-semibold mb-4">My Purchase Offers</h2>
  <ul class="space-y-4">
    {% for offer in offers %}
      <li class="bg-gray-50 p-4 rounded shadow">
        <p>
          <b>Property:</b>
          <a href="{% url 'property-detail' offer.property.id %}" class="text-blue-600 hover:underline">
            {{ offer.property.street }} {{ offer.property.house_number }}, {{ offer.property.city }}
          </a>
        </p>
        <p><b>Submitted on:</b> {{ offer.submitted|date:"F j, Y" }}</p>
        <p><b>Expires:</b> {{ offer.expiration_date|date:"F j, Y" }}</p>
        <p><b>Offer:</b> {{ offer.offer_amount|intcomma }} ISK</p>
        <p><b>Seller:</b>
          <a href="{% url 'seller_profile' offer.property.seller.user_id %}" class="text-blue-600 hover:underline">
            {{ offer.property.seller.first_name }} {{ offer.property.seller.last_name }}
          </a>
        </p>
        <p><b>Status:</b> {{ offer.status }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}